@use '../../styles/mixins' as *;

// -----------------------------
// TABS
// -----------------------------

.tabs {
  display: flex;
  flex-direction: column;

  &__list {
    display: flex;
    gap: var(--spacer-xl);
    margin-bottom: 1.5rem;
    padding: 0.25rem;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

    -ms-overflow-style: none; /* IE + Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari */
    }

    @include breakpoint(md) {
      gap: var(--spacer-l);
      margin-bottom: 1rem;
    }

    &--pill {
      gap: var(--spacer-xs);

      @include breakpoint(md) {
        gap: var(--spacer-2xs);
      }
    }

    .tab {
      @include button-reset;
      @include body-M;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: var(--spacer-2xs);
      padding-inline: var(--spacer-0);
      height: 3.125rem;
      font-weight: 700;

      @include breakpoint(md) {
        @include body-S;
        height: 2.625rem;
      }
    }

    // ---------- VARIANT: UNDERLINE ----------

    .tab--underline {
      position: relative;
      background: transparent;

      &:hover::after,
      &.active::after {
        @include underline-bar(var(--color-tab-unselected-border-hover));
      }

      &:focus {
        outline: 2px solid var(--color-tab-selected-default);
        outline-offset: 2px;
        border-radius: var(--radius-sm);

        &::after {
          @include underline-bar(var(--color-tab-unselected-border-hover));
        }
      }

      &.selected {
        &::after {
          @include underline-bar(var(--color-tab-selected-default));
        }
      }
    }

    // ---------- VARIANT: PILL ----------

    .tab.tab--pill {
      background: var(--color-tab-unselected-default);
      border: 1px solid var(--color-tab-unselected-border);
      border-radius: var(--radius-full);
      padding-inline: var(--spacer-s);

      @include breakpoint(md) {
        padding-inline: var(--spacer-xs);
      }

      &:hover {
        background: var(--color-tab-unselected-hover);
        border: 1px solid var(--color-tab-unselected-border-hover);
      }

      &:active {
        background: var(--color-tab-unselected-active);
      }

      &:focus {
        outline: 2px solid var(--color-tab-selected-default);
        outline-offset: 2px;
      }

      &.selected {
        background: var(--color-tab-selected-default);
        border: 1px solid var(--color-tab-selected-default);
        color: var(--color-text-neutral);

        &:hover {
          background: var(--color-tab-selected-hover);
          border: 1px solid var(--color-tab-selected-hover);
        }

        &:active {
          background: var(--color-tab-selected-active);
          border: 1px solid var(--color-tab-selected-active);
        }
      }
    }
  }

  .tabs__panel {
    padding: 0.25rem;

    &:focus-visible {
      outline: 2px solid var(--color-tab-selected-default);
    }
  }
}

// -----------------------------
// BADGE
// -----------------------------

.badge {
  padding: var(--spacer-3xs) var(--spacer-2xs);
  color: var(--color-text-primary);
  border-radius: var(--radius-lg);

  @include breakpoint(md) {
    padding: var(--spacer-4xs) var(--spacer-3xs);
    border-radius: var(--radius-md);
  }

  &--neutral {
    background: var(--color-badge-neutral);
  }

  &--positive {
    background: var(--color-badge-positive);
  }

  &--negative {
    background: var(--color-badge-negative);
  }
}
