// -----------------------------
// Base Colors
// -----------------------------
$color-background: #ffffff;
$color-primary: #8334c2;
$color-secondary: #00748b;
$color-gray-light: #f3f3f8;
$color-gray: #d3d3dc;
$color-gray-dark: #9a9ab3;

// -----------------------------
// Text Colors
// -----------------------------
$color-text-primary: #1b2134;
$color-text-neutral: #ffffff;

// -----------------------------    
// Badge Colors
// -----------------------------
$color-badge-neutral: #f1f1f7;
$color-badge-positive: #b1ffc7;
$color-badge-negative: #ffbfb1;

// -----------------------------
// Tab Colors
// -----------------------------        
$color-tab-selected-default: #1b2134;
$color-tab-selected-hover: #343a4e;
$color-tab-selected-active: #585d71;
$color-tab-unselected-default: #ffffff;
$color-tab-unselected-hover: #f6f6fa;
$color-tab-unselected-active: #f1f1f7;
$color-tab-unselected-border: #d3d3dc;
$color-tab-unselected-border-hover: #c4c5cf;

// -----------------------------
// Typography
// -----------------------------
$font-family: 'Inter', sans-serif;
$font-size-s: 0.75rem; // 12px
$font-size-m: 0.875rem; // 14px
$font-size-l: 1rem; // 16px
$font-size-xl: 1.25rem; // 20px

// -----------------------------
// Spacing
// -----------------------------
$spacer-0: 0; // 0px
$spacer-4xs: 0.125rem; // 2px
$spacer-3xs: 0.25rem; // 4px
$spacer-2xs: 0.5rem; // 8px
$spacer-xs: 0.75rem; // 12px
$spacer-s: 1rem; // 16px
$spacer-m: 1.25rem; // 20px
$spacer-l: 1.5rem; // 24px
$spacer-xl: 2rem; // 32px
$spacer-2xl: 3rem; // 48px

// -----------------------------
// Border Radius
// -----------------------------
$border-radius-sm: 0.25rem; // 4px
$border-radius-md: 0.5rem; // 8px
$border-radius-lg: 0.75rem; // 12px
$border-radius-xl: 1rem; // 16px
$border-radius-2xl: 1.5rem; // 24px
$border-radius-3xl: 2rem; // 32px
$border-radius-4xl: 2.5rem; // 40px
$border-radius-5xl: 5rem; // 80px
$border-radius-full: 9999px; // fully rounded
