@use './variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  /* Base colors */
  --color-neutral: #{$color-background};
  --color-primary: #{$color-primary};
  --color-secondary: #{$color-secondary};
  --color-gray-light: #{$color-gray-light};
  --color-gray: #{$color-gray};
  --color-gray-dark: #{$color-gray-dark};

  /* Label colors */
  --color-text-primary: #{$color-text-primary};
  --color-text-neutral: #{$color-text-neutral};

  /* Badge colors */
  --color-badge-neutral: #{$color-badge-neutral};
  --color-badge-positive: #{$color-badge-positive};
  --color-badge-negative: #{$color-badge-negative};

  /* Tab colors */
  --color-tab-selected-default: #{$color-tab-selected-default};
  --color-tab-selected-hover: #{$color-tab-selected-hover};
  --color-tab-selected-active: #{$color-tab-selected-active};
  --color-tab-unselected-default: #{$color-tab-unselected-default};
  --color-tab-unselected-hover: #{$color-tab-unselected-hover};
  --color-tab-unselected-active: #{$color-tab-unselected-active};
  --color-tab-unselected-border: #{$color-tab-unselected-border};
  --color-tab-unselected-border-hover: #{$color-tab-unselected-border-hover};

  /* Typography */
  --font-family: #{$font-family};
  --font-size-s: #{$font-size-s};
  --font-size-m: #{$font-size-m};
  --font-size-l: #{$font-size-l};
  --font-size-xl: #{$font-size-xl};

  /* Spacing */
  --spacer-0: #{$spacer-0};
  --spacer-4xs: #{$spacer-4xs};
  --spacer-3xs: #{$spacer-3xs};
  --spacer-2xs: #{$spacer-2xs};
  --spacer-xs: #{$spacer-xs};
  --spacer-s: #{$spacer-s};
  --spacer-m: #{$spacer-m};
  --spacer-l: #{$spacer-l};
  --spacer-xl: #{$spacer-xl};
  --spacer-2xl: #{$spacer-2xl};

  /* Border radius */
  --radius-sm: #{$border-radius-sm};
  --radius-md: #{$border-radius-md};
  --radius-lg: #{$border-radius-lg};
  --radius-xl: #{$border-radius-xl};
  --radius-2xl: #{$border-radius-2xl};
  --radius-3xl: #{$border-radius-3xl};
  --radius-4xl: #{$border-radius-4xl};
  --radius-5xl: #{$border-radius-5xl};
  --radius-full: #{$border-radius-full};
}

body {
  background-color: var(--color-neutral);
  color: var(--color-text-primary);
  font-family: var(--font-family);
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
